<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- JDBC Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/easy_cart</property>
        <property name="connection.username">root</property>
        <property name="connection.password">Abhi@1234</property>
        
        <!-- Specify dialect based on your database -->
        <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <!-- Enable automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Specify hbm2ddl behavior -->
        <property name="hbm2ddl.auto">update</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        
        <mapping class="com.entities.User"/>
                <mapping class="com.entities.Product"/>
                <mapping class="com.entities.Category"/>
        
        </session-factory>
        </hibernate-configuration>

